@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: grey; 
  display: flex; 
  flex-direction: column
}

.header{
  display: flex; 
  justify-content: space-between;
  padding: 8px; 
}

.left-links, .right-links{
  padding: 6px;
  margin: 0px; 
}

ul{
  display: flex; 
  gap: 12px; 
  list-style-type: none;
  
}

.content{
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


a {
  text-decoration: none;
  color: grey; 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px; 
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer{
  background-color: rgb(231, 227, 227); 
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: auto; 
 
}

